#mahi{
    font-size:100 ;
    border:3px ridge green;
    margin:10px;
    height:100px;
    width:100px;
    color:brown;
    

}
#nani{
    font-size:90 ;
    border:3px solid black;
    margin:20px;
    height:100px;
    width:100px;
    color:rgb(12, 202, 25);

}
