

p {
    border: 3px solid green;
    width : 200px;
    height : 140px;
}
ebsites looked like that. Using CSS, you can control exactly how HTML elements look in the browser, presenting your markup using whatever design you like.
div{
    border-width: 20px 30px 12px 10px;
    border-style: dotted;
}
#mahi{  border-width: 2px;
    border-style : solid ;
    border-color: blue;
    

}
